.lazy-image {
  width: 100%;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: flex-start; /* Adjust alignment */
}

@media (max-width: 800px) {
  .header-container {
    position: fixed;
    top: auto;
    bottom: 0;
  }
}
.header h1 {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column; /* Change to column */
}

.nav-item{
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logout {
  text-align: center;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  position: relative;
  bottom: 0;
}
.logout button{
  padding:10px 20px;
}
.logout button:hover {
  text-decoration: none;
  cursor: pointer;
}