/* App.css */
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.card {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
  width: 100%;
}
.header {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 10px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu a:hover {
  color: #4caf50;
}

.profile-picture {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-side {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}
.profile-picture-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

